a {color:#464646;}
a:hover {color:#464646;}


body div.banner {
	background:url("images/thunderroadlogo.jpg");
	background-position:center;
	background-repeat:no-repeat;
	height:190px;
}

body { 
	/*background-color: /*#54A751*/;
	background-color:#ffffff;
}

.phone-number {
	color:white;
	letter-spacing: 1px;
	vertical-align: middle;
	text-align: center;
}

.email-address {
	color:white;
	letter-spacing: 1px;
	vertical-align: middle;
	text-align: center;
}

.red {border:1px solid red;}
.orange {background-color: #ff9600;}
.logo-header {margin-top:20px;margin-bottom:20px;}
.black {background-color:black;}